html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex; /*使物件依序排列*/
  flex-direction: column; /*使物件垂直排列*/
}
img {
  object-fit: contain;
}
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  opacity: 1;
  transition: opacity 1.5s;
}

.navbar .navbar-brand {
  opacity: 1;
  transition: opacity 1.5s;
}

.navbar .nav-item.active {
  opacity: 1;
  transition: opacity 1.5s;
}

.navbar.blur {
  opacity: 0.7;
}

.navbar.blur .navbar-brand {
  opacity: 0.5;
}

.navbar.blur .nav-item.active {
  opacity: 0.5;
}

body {
  padding-top: 94px;
}

section {
  flex-grow: 1; /*可佔滿垂直剩餘的空間*/
}

.card-shadow {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.bg-cover {
  background-size: cover;
  background-position: center center;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
}

.bg-contain {
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-gray {
  background-color: #e3e3e7;
}

.checkbox-1x {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
}
.checkbox-2x {
  transform: scale(2);
  -webkit-transform: scale(2);
}

.border-light-gray {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.dropdown-menu-center {
  position: absolute;
  top: 75px;
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.text-primary-dark {
  color: #3e6896;
}

.card-button:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.card-button:active {
  background-color: #f8f9fa;
}

.table-width-xs {
  min-width: 40px;
}

.table-width-s {
  min-width: 80px;
}

.table-width-m {
  min-width: 160px;
}

.table-width-l {
  min-width: 240px;
}

.table-width-xl {
  min-width: 320px;
}

.card-button:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.card-button:active {
  background-color: #f8f9fa;
}

.mt-minus-5 {
  margin-top: -5rem;
}

.btn-alpha {
  background-color: rgba(255, 255, 255, 0.7);
}

.btn-alpha:hover {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.3);
}

.text-primary-darker {
  color: #5285df;
}

.bg-navbar {
  background-color: #fff38d !important;
}

.bg-footer {
  background-color: #fff38d !important;
}

.fw-bold {
  font-weight: bold;
}

/* 320 */
.logo-pc {
  height: 60px;
}

/* 150 */
.logo-mobile {
  height: 30px;
}

.text-title {
  color: #3e6896;
}

.word-wrap {
  word-break: break-all;
}

.bg-opacity {
  opacity: 0.8;
}

.fz-18 {
  font-size: 18px;
}

.fz-25 {
  font-size: 25px;
}

.bg-2ndhome {
  background-color: #fff38d;
}

.align-sub {
  vertical-align: sub;
}

.badge-verified {
  color: #3f8b35;
  background-color: #e5f5e4;
}

.badge-verified {
  color: #3f8b35;
  background-color: #e5f5e4;
}

.badge-failed {
  color: #e61e00;
  background-color: #ffdad5;
}

.badge-pending {
  color: #4e4e4e;
  background-color: #ebebeb;
}

@media (min-width: 0px) {
  .admin-index-img {
    width: 90%;
    height: 270px;
  }
  .admin-index-input {
    width: 90%;
  }
  .admin-index-textarea {
    width: 90%;
  }
}

@media (min-width: 375px) {
  .admin-index-img {
    width: 280px;
    height: 270px;
  }
  .admin-index-input {
    width: 280px;
  }
  .admin-index-textarea {
    width: 280px;
  }
}

@media (min-width: 576px) {
  .admin-index-img {
    width: 450px;
    height: 270px;
  }
  .admin-index-input {
    width: 450px;
  }
  .admin-index-textarea {
    width: 450px;
  }
}

@media (min-width: 960px) {
  .admin-index-img {
    width: 300px;
    height: 270px;
  }
  .admin-index-input {
    width: 350px;
  }
  .admin-index-textarea {
    width: 350px;
  }
}

@media (min-width: 1200px) {
  .admin-index-img {
    width: 400px;
    height: 270px;
  }
  .admin-index-input {
    width: 450px;
  }
  .admin-index-textarea {
    width: 450px;
  }
}

@media (min-width: 1519px) {
  .admin-index-img {
    width: 400px;
    height: 270px;
  }
  .admin-index-input {
    width: 450px;
  }
  .admin-index-textarea {
    width: 450px;
  }
}

.btn-verify {
  background-color: #ebebeb;
  color: black;
}

.text-verify-date {
  color: #4e4e4e;
}

.footer_images:hover {
  transform: scale(1.05);
}

.chart-container {
  height: 450px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .chart-container {
    height: 350px;
  }
}

@media screen and (max-width: 768px) {
  .chart-container {
    height: 300px;
  }
}

.project.card {
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
  transition: opacity 0.2s ease-in-out;
}

.project.card:hover {
  opacity: 0.8;
}

.project .card-img-top {
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ck.ck-reset.ck-editor.ck-rounded-corners {
  width: 100% !important;
}

#project_cover,
[id^="coverImg"] {
  display: block; /*将图片元素设置为块级元素 */
  margin: 0 auto; /*自动左右外边距以实现水平居中 */
}

.project-detail-item {
  height: inherit;
}
@media (min-width: 768px) {
  .project-detail-item {
    min-height: 300px;
  }
}
.custom-select {
  width: inherit;
}
.content {
  position: relative;
  max-height: 200px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.filter {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 120px;
  pointer-events: none;
  visibility: visible;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
}

.show-more-btn {
  background-color: #fff38d;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

table#grid-bottom-bar {
  display: none !important;
}


.pt-gpt {
  padding-top: 58px;
}
@media (min-width: 768px) {
  .pt-gpt {
    padding-top: 94px;
  }
}
#gpt-wrapper header {
  position: absolute;
  transition: all 0.5s;
  height: calc(100% - 300px);
  transform: translate(-100%);
}
#gpt-wrapper .bg-gpt-primary {
  background-color: #171717b6;
}
.bg-gpt-secondary {
  background-color: #212121;
}
.bg-gpt-third {
  background-color: #444654;
}
#gpt-wrapper .text-gpt-light {
  color: #ececec;
}
.cursor-pointer {
  cursor: pointer;
}
#gpt-wrapper section {
  width: 100%;
}
@media (min-width: 768px) {
  #gpt-wrapper header {
    position: static;
    transform: none;
    height: 100%;
  }
  #gpt-wrapper .bg-gpt-primary {
    background-color: #171717;
  }
}

#gpt-wrapper header.transform-open {
  transform: translate(0);
}

#gpt-wrapper .gpt-logo {
  background-color: var(--light);
  padding: 0.5em;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.h-full {
  overflow-y: scroll;
  height: 100%;
}
@media (max-width: 768px) {
  section.h-full {
    height: 100vh;
  }
}
.input-fixed {
  position: fixed;
  bottom: 50px;
  width: inherit;
  z-index: 100;
}
.gpt-input,
.gpt-input:active,
.gpt-input:focus {
  background-color: #ffffff42;
  color: #ececec;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.pt-gpt {
  padding-top: 58px;
}
@media (min-width: 768px) {
  .pt-gpt {
    padding-top: 94px;
  }
}
#gpt-wrapper header {
  position: absolute;
  transition: all 0.5s;
  height: calc(100% - 300px);
  transform: translate(-100%);
}
#gpt-wrapper .bg-gpt-primary {
  background-color: #171717b6;
}
.bg-gpt-secondary {
  background-color: #212121;
}
.bg-gpt-third {
  background-color: #444654;
}
#gpt-wrapper .text-gpt-light {
  color: #ececec;
}
.cursor-pointer {
  cursor: pointer;
}
#gpt-wrapper section {
  width: 100%;
}
@media (min-width: 768px) {
  #gpt-wrapper header {
    position: static;
    transform: none;
    height: 100%;
  }
  #gpt-wrapper .bg-gpt-primary {
    background-color: #171717;
  }
}

#gpt-wrapper header.transform-open {
  transform: translate(0);
}

#gpt-wrapper .gpt-logo {
  background-color: var(--light);
  padding: 0.5em;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.h-full {
  overflow-y: scroll;
  height: 100%;
}
@media (max-width: 768px) {
  section.h-full {
    height: 100vh;
  }
}
.input-fixed {
  position: fixed;
  bottom: 50px;
  width: inherit;
  z-index: 100;
}
.gpt-input,
.gpt-input:active,
.gpt-input:focus {
  background-color: #ffffff42;
  color: #ececec;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}